@import '../../../../assets/css/global/variables';
@import '../../../../assets/css/global/mixins';

header {
    padding: 10px 0;
    width: 100%;
    background-color: lighten($light-gray, 10%);
    box-shadow: 0px 0px 3px $dark-gray;

    &:after {
        display: block;
        clear: both;
        content: "";
    }
    .inner-container {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        @include rem(padding, 0 30px);

        > div {
            flex: 1 1 auto;
        }

        .profile-manager {
            cursor: pointer;
            @include transition(all 0.3s);
            position: relative;
            @include flex-grow(0.3);

            .user-icon {
                > span {
                    @include rem(font-size, 14px);
                    margin-left: 5px;
                    color: $dark-gray;
                    @include opensans-regular();
                    display: inline-block;
                    vertical-align: middle;
                }
                > i {
                    @include rem(font-size, 30px);
                    vertical-align: middle;

                    &.fa-caret-down, &.fa-caret-up {
                        @include rem(font-size, 20px);
                        margin-left: 5px;
                    }
                }
            }

            .manager-dropdown {
                position: absolute;
                top: 50px;
                background: $white;
                box-shadow: 0px 1px 2px $light-gray;
                @include rem(padding, 10px);
                left: 0px;
                width: 141px;
                text-align: center;
                border: 2px solid $powder;

                &:after, &:before {
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }

                &:after {
                    border-bottom-color: $white;
                    border-width: 15px;
                    margin-left: -15px;
                }
                &:before {
                    border-bottom-color: $powder;
                    border-width: 18px;
                    margin-left: -18px;
                }

                > a {
                    color: $dark-gray;
                    display: block;
                    @include raleway-regular();
                    @include rem(font-size, 14px);

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .current-turn {
            background-color: #f0f8ff;
            @include rem(padding, 20px 10px);
            margin-right: 20px;
            text-align: center;
            border: 2px solid $powder;
            @include flex-grow(0.3);

            h3 {
                @include rem(font-size, 16px);
                @include raleway-bold();
            }

            .player-icon {
                i {
                    @include border-radius(100%);
                    width: 30px;
                    height: 30px;
                    border: 1px solid $powder;
                    background-color: $off-white;
                    @include rem(padding, 8px);
                    @include rem(font-size, 14px);
                }
                span {
                    margin-left: 5px;
                    @include rem(font-size, 14px);
                    @include opensans-bold();
                }
            }
        }

        .turn-steps {
            @include flex-grow(2);
            @include flexbox();

            .step {
                display: inline-block;
                vertical-align: middle;
                width: 18%;
                @include transition(width 0.3s ease-in);
                @include rem(padding, 10px 25px);
                text-align: center;

                &:not(:last-child) {
                    border-right: 1px solid $powder;
                }

                h3 {
                    @include rem(font-size, 16px);
                    @include raleway-bold();
                }

                .help-text {
                    @include rem(font-size, 11px);
                    @include opensans-regular();
                }

                form, .buttons-container, .help-text {
                    display: none;
                }

                .buttons-container {
                    .btn {
                        &:not(:last-child) {
                            margin-right: 8px;
                        }
                    }

                    &.left-align {
                        text-align: left;
                    }
                    &.right-align {
                        text-align: right;
                    }
                }

                &.active-step {
                    width: 60%;
                    text-align: left;

                    h3 {
                        color: $aqua;
                    }

                    form, .buttons-container, .help-text {
                        display: block;
                    }
                }

                form {
                    label {
                        @include opensans-regular();
                        @include rem(font-size, 12px);
                    }

                    .select-container {
                        position: relative;
        
                        .select-box {
                            width: 100%;
                            border: 2px solid $aqua;
                            background: transparent;
                            @include opensans-regular();
                            @include rem(font-size, 14px);
                            @include rem(padding, 10px 15px);
                            color: $dark-gray;
                            @include appearance(none);
                            @include border-radius(0);
                            outline: 0;
                        }
        
                        i {
                            position: absolute;
                            right: 8px;
                            bottom: 6px;
                            color: $aqua;
                            @include rem(font-size, 16px);
                        }
                    }
                }

                &.step-1 {
                    .troops-acquired {
                        @include opensans-bold();
                        @include rem(font-size, 14px);
                        @include rem(padding, 3px);
                        color: darken($sky-blue, 10%);

                        &.zero-troops {
                            color: $vermillion;
                        }
                    }

                    .placement-results {
                        .result {
                            display: inline-block;
                            background: $dark-gray;
                            color: $white;
                            @include rem(padding, 4px 8px);
                            border: 1px solid $sunshine;
                            @include opensans-regular();

                            &:not(:last-child) {
                                margin-right: 5px;
                            }
                        }
                    }

                    .buttons-container {
                        text-align: right;
                    }
                }

                &.step-2 {
                    .t-info {
                        display: inline-block;
                    }
                    .a-territory, .d-territory {
                        color: $white;
                        border: 1px solid $white;
                        @include rem(padding, 4px 8px);
                        @include opensans-regular();
                        @include rem(font-size, 14px);
                    }
                    .a-territory {
                        margin: 0 5px 0 0;
                    }
                    .d-territory {
                        margin: 0 0 0 5px;
                    }
                    .vs-separator {
                        @include rem(font-size, 13px);
                        @include opensans-bold();
                        margin: 0 10px;
                    }

                    form {
                        .buttons-container {
                            display: inline-block;
                            margin-left: 10px;
                        }
                        .select-container {
                            margin-left: 10px;
                            .select-box {
                                @include rem(padding, 1px 30px 1px 5px);
                            }
                        }
                    }

                    > .buttons-container {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
