@import '../../../../assets/css/global/variables';
@import '../../../../assets/css/global/mixins';

header {
    padding: 10px 0;
    width: 100%;
    background-color: lighten($light-gray, 10%);
    box-shadow: 0px 0px 3px $dark-gray;

    &:after {
        display: block;
        clear: both;
        content: "";
    }
    .inner-container {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        @include rem(padding, 0 30px);

        .profile-manager {
            cursor: pointer;
            @include transition(all 0.3s);
            position: relative;

            .user-icon {
                > span {
                    @include rem(font-size, 14px);
                    margin-left: 5px;
                    color: $dark-gray;
                    @include opensans-regular();
                    display: inline-block;
                    vertical-align: middle;
                }
                > i {
                    @include rem(font-size, 30px);
                    vertical-align: middle;

                    &.fa-caret-down, &.fa-caret-up {
                        @include rem(font-size, 20px);
                        margin-left: 5px;
                    }
                }
            }

            .manager-dropdown {
                position: absolute;
                top: 50px;
                background: $white;
                box-shadow: 0px 1px 2px $light-gray;
                @include rem(padding, 10px);
                left: 0px;
                width: 141px;
                text-align: center;
                border: 2px solid $powder;

                &:after, &:before {
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }

                &:after {
                    border-bottom-color: $white;
                    border-width: 15px;
                    margin-left: -15px;
                }
                &:before {
                    border-bottom-color: $powder;
                    border-width: 18px;
                    margin-left: -18px;
                }

                > a {
                    color: $dark-gray;
                    display: block;
                    @include raleway-regular();
                    @include rem(font-size, 14px);

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
