<header class="risk-map-header">
    <div class="inner-container">
        <div *ngIf="fullLoggedInUserDetails" class="profile-manager">
            <div class="user-icon" (click)="toggleProfileManager()">
                <i class="fas fa-{{fullLoggedInUserDetails.icon}}" [ngStyle]="{'color': fullLoggedInUserDetails.color}"></i>
                <span *ngIf="fullLoggedInUserDetails.player">{{fullLoggedInUserDetails.player.username}}</span>
                <i [ngClass]="{'fas': true, 'fa-caret-down': profileManagerState === 'closed', 'fa-caret-up': profileManagerState === 'opened'}" [ngStyle]="{'color': fullLoggedInUserDetails.color}"></i>
            </div>
            <div class="manager-dropdown" [@toggleProfileManager]="profileManagerState">
                <a href="/dashboard">Dashboard</a>
                <a href (click)="logout()">Logout</a>
            </div>
        </div>
        <div *ngIf="currentTurnPlayer && players" class="current-turn">
            <h3>Current Turn:</h3>
            <div class="player-icon">
                <i class="fas fa-{{currentTurnPlayer.icon}}" [ngStyle]="{'color': currentTurnPlayer.color}"></i>
                <span>{{currentTurnPlayer.player.username}}</span>
            </div>
        </div>
        <div class="turn-steps" *ngIf="isCurrentPlayer">
            <div [ngClass]="{'step step-1': true, 'active-step': currentStep === 'GETTROOPS'}">
                <h3>Step 1: Place Your Troops</h3>
                <form name="troops-placement" (ngSubmit)="placeTroops()" [formGroup]="troopsPlacementForm">
                    <span>Troops acquired:</span>
                    <div class="placement-country">
                        <label>Choose the country to place troops in: </label>
                        <span class="troopsPlacementTerritory">Greenland</span>
                    </div>
                    <label>Choose number of troops to place:</label>
                    <select formControlName="numberOfTroops">
                        <option *ngFor="let number of [2,3,4,5,6,7,8,9,10,11]" [value]="number">
                            {{number}}
                        </option>
                    </select>
                </form>
            </div>
            <div [ngClass]="{'step step-2': true, 'active-step': currentStep === 'ATTACK'}">
                <h3>Step 2: Attacking</h3>
                <form name="attack-sequence" [formGroup]="attackSequenceForm" (ngSubmit)="attackCountry()">
                    <div class="attacking-country">
                        <label>Choose the country to attack from:</label>
                        <span class="a-country">Egypt</span>
                        <input type="hidden" formControlName="attackingTerritory" value="Egypt">
                    </div>
                    <div>vs.</div>
                    <div class="defending-country">
                        <label>Choose the country you want to attack:</label>
                        <span class="d-country">North Africa</span>
                        <input type="hidden" formControlName="defendingTerritory" value="North Africa">
                    </div>
                    <select name="attackNumberOfPlayers" class="select-box" formControlName="attackNumberOfPlayers">
                        <option *ngFor="let number of [2,3,4,5,6]" [value]="number">
                            {{number}}
                        </option>
                    </select>
                    <input type="submit" class="btn btn-aqua" value="Attack">
                </form>
                <div class="buttons-container">
                    <button class="btn btn-neutral" (click)="skipStep(2)">Skip</button>
                    <button class="btn btn-vermillion">Finish</button>
                </div>
            </div>
            <div [ngClass]="{'step step-3': true, 'active-step': currentStep === 'FORTIFY'}">
                <h3>Step 3: Fortify</h3>
                <form name="fortify-sequence" [formGroup]="fortifyTroopsForm" (ngSubmit)="fortifyCountry()">
                    <div class="attacking-country">
                        <label>Choose the country you want to move troops from:</label>
                        <span class="a-country">East Africa</span>
                        <input type="hidden" formControlName="movingTerritory" value="East Africa">
                    </div>
                    <div>to</div>
                    <div class="defending-country">
                        <label>Choose the country you want to fortify:</label>
                        <span class="d-country">Egypt</span>
                        <input type="hidden" formControlName="fortifiedTerritory" value="Egypt">
                    </div>
                    <select name="fortifyNumberOfPlayers" class="select-box" formControlName="fortifyNumberOfPlayers">
                        <option *ngFor="let number of [2,3,4,5,6]" [value]="number">
                            {{number}}
                        </option>
                    </select>
                    <input type="submit" class="btn btn-aqua" value="Fortify">
                </form>
                <div class="buttons-container">
                    <button class="btn btn-neutral" (click)="skipStep(3)">Skip</button>
                    <button class="btn btn-vermillion">Finish</button>
                </div>
            </div>
        </div>
        <!-- <div class="player-list">
            <p *ngFor="let p of players"><i [ngStyle]="{'color': p.color}" class="fas fa-{{p.icon}}"></i> - {{p.player.username}} {{p.turnOrder}}</p>
        </div> -->
    </div>
</header>