<header class="risk-map-header">
    <div class="inner-container">
        <div *ngIf="currentTurnPlayer && players" class="current-turn">
            <h3>Current Turn:</h3>
            <div class="player-icon">
                <i class="fas fa-{{currentTurnPlayer.icon}}" [ngStyle]="{'color': currentTurnPlayer.color}"></i>
                <span>{{currentTurnPlayer.player.username}}</span>
            </div>
        </div>
        <div class="turn-steps" *ngIf="isCurrentPlayer">
            <div [ngClass]="{'step step-1': true, 'active-step': currentStep === 'GETTROOPS'}">
                <h3>Step 1: Place Your Troops - <span [ngClass]="{'troops-acquired': true, 'zero-troops': troopsLeftToPlace === 0}" *ngIf="troopsLeftToPlace !== -1">{{troopsLeftToPlace}} troops left to place</span></h3>
                <p class="help-text">Click each territory below to place your available troops. You can click one multiple times to add more troops to that territory. Use the 'Undo' and 'Reset' buttons to remove/reset any misplaced troops.</p>
                <form name="troops-placement" (ngSubmit)="placeTroops()" [formGroup]="troopsPlacementForm">
                    <div *ngIf="placementResults.length > 0" class="placement-results">
                        <p class="result" *ngFor="let result of placementResults">
                            {{result.name}} - {{result.troopsAdded}}
                        </p>
                    </div>
                    <input type="hidden" formControlName="placementTerritories" value="placementResults.join(',')">
                </form>
                <div class="buttons-container">
                    <button class="btn btn-sunshine" [disabled]="placementResults.length === 0" (click)="undoTroopsPlacement()">Undo</button>
                    <button class="btn btn-vermillion" [disabled]="placementResults.length === 0" (click)="resetTroopsPlacement()">Reset</button>
                    <button *ngIf="troopsLeftToPlace === 0" class="btn btn-vermillion" [disabled]="tpForm.troopsPlacementTerritory === ''" (click)="finishTroopsPlacement()">Finish</button>
                </div>
            </div>
            <div [ngClass]="{'step step-2': true, 'active-step': currentStep === 'ATTACK'}">
                <h3>Step 2: Attack</h3>
                <!-- <p class="help-text">First, choose your territory that you want to attack from. Next, choose the terrritory you want to attack (defending territory). Once you choose these, choose the number of dice to roll. You can roll up to 3 dice depending on how many troops you have in the territory. Click the 'Cancel' button to reset choosing the attacking territory and choose a different one. Click the 'Skip' button to skip the attack phase altogether and move on to fortification.</p> -->
                <form name="attack-sequence" [formGroup]="attackSequenceForm" (ngSubmit)="attackTerritory()">
                    <div *ngIf="attackingTerritory" class="attacking-territory t-info">
                        <label>Attacking territory:</label>
                        <span class="a-territory" [ngStyle]="{'background-color': attackingTerritory.color}">{{attackingTerritory.name}}</span>
                        <input type="hidden" formControlName="attackingTerritory" value="">
                    </div>
                    <div *ngIf="attackingTerritory" class="vs-separator t-info">vs.</div>
                    <div *ngIf="defendingTerritory" class="defending-territory t-info">
                        <label>Defending territory:</label>
                        <span class="d-territory" [ngStyle]="{'background-color': defendingTerritory.color}">{{defendingTerritory.name}}</span>
                        <input type="hidden" formControlName="defendingTerritory" value="">
                    </div>
                    <div *ngIf="attackingTerritory && defendingTerritory && attackingTerritoryDice.length > 0" class="t-info select-container">
                        <label>Number of dice to attack with:</label>
                        <select name="attackNumberOfDice" class="select-box" formControlName="attackNumberOfDice">
                            <option *ngFor="let number of attackingTerritoryDice" [value]="number">
                                {{number}}
                            </option>
                        </select>
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <div *ngIf="attackingTerritory && defendingTerritory" class="buttons-container left-align">
                        <button [disabled]="!attackingTerritory" class="btn btn-vermillion" (click)="cancelAttackSelection()">Cancel</button>
                        <button type="submit" class="btn btn-aqua">Attack</button>
                    </div>
                </form>
                <!-- <p>{{ attackSequenceForm.value | json }}</p> -->
                <table *ngIf="attackResults.length > 0" class="attack-results">
                    <thead>
                        <tr>
                            <th>Attacking Country</th>
                            <th>Defending Country</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ar of attackResults">
                            <td>{{ar.attack.name}}</td>
                            <td>{{ar.defend.name}}</td>
                            <td>
                                <tr>
                                    <td>Dice Rolls: </td>
                                </tr>
                                Wins: {{ar.rollResult.attackerInfo.victories}}, Losses: {{ar.rollResult.attackerInfo.losses}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="buttons-container right-align">
                    <button class="btn btn-neutral" (click)="skipToStep('fortify')">Skip</button>
                    <button *ngIf="attackCompleted" class="btn btn-vermillion">Finish</button>
                </div>
            </div>
            <div [ngClass]="{'step step-3': true, 'active-step': currentStep === 'FORTIFY'}">
                <h3>Step 3: Fortify</h3>
                <form name="fortify-sequence" [formGroup]="fortifyTroopsForm" (ngSubmit)="fortifyCountry()">
                    <div class="attacking-country">
                        <label>Choose the country you want to move troops from:</label>
                        <span class="a-country">East Africa</span>
                        <input type="hidden" formControlName="movingTerritory" value="East Africa">
                    </div>
                    <div>to</div>
                    <div class="defending-country">
                        <label>Choose the country you want to fortify:</label>
                        <span class="d-country">Egypt</span>
                        <input type="hidden" formControlName="fortifiedTerritory" value="Egypt">
                    </div>
                    <select name="fortifyNumberOfPlayers" class="select-box" formControlName="fortifyNumberOfPlayers">
                        <option *ngFor="let number of [2,3,4,5,6]" [value]="number">
                            {{number}}
                        </option>
                    </select>
                    <input type="submit" class="btn btn-aqua" value="Fortify">
                </form>
                <div class="buttons-container">
                    <button class="btn btn-neutral" (click)="skipStep(3)">Skip</button>
                    <button class="btn btn-vermillion">Finish</button>
                </div>
            </div>
        </div>
        <div *ngIf="fullLoggedInUserDetails" class="profile-manager">
            <div class="user-icon" (click)="toggleProfileManager()">
                <i class="fas fa-{{fullLoggedInUserDetails.icon}}" [ngStyle]="{'color': fullLoggedInUserDetails.color}"></i>
                <span *ngIf="fullLoggedInUserDetails.player">{{fullLoggedInUserDetails.player.username}}</span>
                <i [ngClass]="{'fas': true, 'fa-caret-down': profileManagerState === 'closed', 'fa-caret-up': profileManagerState === 'opened'}" [ngStyle]="{'color': fullLoggedInUserDetails.color}"></i>
            </div>
            <div class="manager-dropdown" [@toggleProfileManager]="profileManagerState">
                <a href="/dashboard">Dashboard</a>
                <a href (click)="logout()">Logout</a>
            </div>
        </div>
        <!-- <div class="player-list">
            <p *ngFor="let p of players"><i [ngStyle]="{'color': p.color}" class="fas fa-{{p.icon}}"></i> - {{p.player.username}} {{p.turnOrder}}</p>
        </div> -->
    </div>
</header>