@import '../../../../assets/css/global/variables';
@import '../../../../assets/css/global/mixins';

header {
    padding: 10px 0;
    width: 100%;

    &:after {
        display: block;
        clear: both;
        content: "";
    }
    .inner-container {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        @include rem(padding, 0 30px);

        .profile-manager {
            cursor: pointer;
            @include transition(all 0.3s);
            position: relative;

            .user-icon {
                > i {
                    @include rem(font-size, 30px);
                    vertical-align: middle;

                    &.fa-caret-down, &.fa-caret-up {
                        @include rem(font-size, 20px);
                        margin-left: 5px;
                    }
                }
            }

            .manager-dropdown {
                position: absolute;
                top: 40px;
                background: $tan;
                box-shadow: 0px 1px 2px $light-gray;
                @include rem(padding, 10px);

                &:after {
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-bottom-color: $tan;
                    border-width: 20px;
                    margin-left: -20px;
                }

                > a {
                    color: $dark-gray;
                    display: block;
                    @include raleway-regular();
                    @include rem(font-size, 14px);

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
