<risk-header></risk-header>
<div class="tabs">
    <nav>
        <ul>
            <li>
                <a href="#user_games">
                    <i class="fas fa-user-astronaut icon"></i>
                    <span>Games</span>
                </a>
            </li>
            <li>
                <a href="#user_stats">
                    <i class="fas fa-chart-line icon"></i>
                    <span>Statistics</span>
                </a>
            </li>
            <li>
                <a href="#user_settings">
                    <i class="fas fa-cogs icon"></i>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="#public_games">
                    <i class="fas fa-globe icon"></i>
                    <span>Public Games</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div id="user_games">
    <risk-user-games></risk-user-games>
</div>
