<risk-header></risk-header>
<div class="container dashboard">
    <risk-tabs>
        <risk-tab title="Games" iconClass="fa-user-astronaut">
            <risk-user-games></risk-user-games>
        </risk-tab>
        <risk-tab title="Statistics" iconClass="fa-chart-line">
            <risk-user-stats></risk-user-stats>
        </risk-tab>
        <risk-tab title="Settings" iconClass="fa-cogs">
            <risk-user-settings></risk-user-settings>
        </risk-tab>
        <risk-tab title="Public Games" iconClass="fa-globe">
            <risk-public-games></risk-public-games>
        </risk-tab>
    </risk-tabs>
</div>
