//---------------------------------
// Colors
//---------------------------------
$red:       #962D3E;
$dark-blue: #343642;
$light-blue:#979C9C;
$tan:       #F2EBC7;
$aqua-blue: #348899;

//---------------------------------
// Breakpoints
//---------------------------------
$breakpoints: (
    "phone":        320px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);