//---------------------------------
// Typography
//---------------------------------
$base-font-size: 10;
$fa-font-path: '../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts';


//---------------------------------
// Colors
//---------------------------------
$red:         #E74C3C;
$dark-blue:   #2C3E50;
$sky-blue:    #328CC1;
$off-white:   #ECF0F1;
$summer-blue: #2980B9;
$green:       #549E39;

//---------------------------------
// Breakpoints
//---------------------------------
$breakpoints: (
    "phone":        320px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
