@import '../../../assets/css/global/variables';
@import '../../../assets/css/global/mixins';

header {
    padding: 10px 0;

    &:after {
        display: block;
        clear: both;
        content: "";
    }

    .risk-logo {
        display: inline-block;
        @include breeserif();
        color: $aqua;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0.03em;

        @include mq('tablet') {
            @include rem(font-size, 45px);
        }
    }
    .logout-button {
        float: right;
    }
}
