<risk-header></risk-header>
<div class="register-form site-form">
    <div class="form-header">
        <h2>Register</h2>
    </div>
    <form (ngSubmit)="register()" #registerForm="ngForm">
        <div class="form-group">
            <span class="input">
                <input type="email" class="input-field" id="email"
                        required email
                        [(ngModel)]="credentials.email" name="email"
                        #email="ngModel" placeholder="Email Address">
                <label class="input-label" for="email">
                    <i class="fas fa-envelope input-icon"></i>
                </label>
            </span>
        </div>
        <div class="form-group">
            <span class="input">
                <input type="text" class="input-field" id="username"
                        required
                        [(ngModel)]="credentials.username" name="username"
                        #username="ngModel" placeholder="Username">
                <label class="input-label" for="username">
                    <i class="fas fa-user-astronaut input-icon"></i>
                </label>
            </span>
        </div>
        <div class="form-group">
            <span class="input">
                <input type="password" class="input-field" id="password"
                        required
                        [(ngModel)]="credentials.password" name="password"
                        #password="ngModel" placeholder="Password">
                <label class="input-label" for="password">
                    <i class="fas fa-key input-icon"></i>
                </label>
            </span>
        </div>
        <button type="submit" class="btn btn-green submit-button" [disabled]="!registerForm.form.valid">Register</button>
    </form>
</div>
