<risk-header></risk-header>
<div class="register-form site-form">
    <div class="form-header">
        <h2>Register</h2>
    </div>
    <form (ngSubmit)="register()" [formGroup]="registerForm">
        <div class="form-group">
            <span [ngClass]="{'input': true, 'error': registerFormSubmitted && rForm.email.invalid && rForm.email.errors}">
                <input type="email" class="input-field" id="email"
                        email
                        formControlName="email"
                        placeholder="Email Address">
                <label class="input-label" for="email">
                    <i class="fas fa-envelope input-icon email-icon"></i>
                </label>
            </span>
            <div *ngIf="rForm.email.errors" class="error-container">
                <p *ngIf="registerFormSubmitted && rForm.email.errors.required">Email is required.</p>
                <p *ngIf="rForm.email.errors.email">Please enter a valid email address.</p>
            </div>
        </div>
        <div class="form-group">
            <span [ngClass]="{'input': true, 'error': registerFormSubmitted && rForm.username.invalid && rForm.username.errors}">
                <input type="text" class="input-field" id="username"
                        formControlName="username"
                        placeholder="Username">
                <label class="input-label" for="username">
                    <i class="fas fa-user-astronaut input-icon user-icon"></i>
                </label>
            </span>
            <div *ngIf="rForm.username.errors" class="error-container">
                <p *ngIf="registerFormSubmitted && rForm.username.errors.required">Username is required.</p>
                <p *ngIf="rForm.username.errors.minlength">Username must be minimum 5 characters.</p>
                <p *ngIf="rForm.username.errors.pattern">Username must only contain alphanumeric characters.</p>
            </div>
        </div>
        <div [formGroup]="passwordFormGroup" class="full-width">
            <div class="form-group">
                <span [ngClass]="{'input': true, 'error': registerFormSubmitted && pGroup.password.invalid && pGroup.password.errors}">
                    <input type="password" class="input-field" id="password"
                            formControlName="password"
                            placeholder="Password">
                    <label class="input-label" for="password">
                        <i class="fas fa-key input-icon password-icon"></i>
                    </label>
                </span>
                <risk-password-strength-meter [passwordControl]="pGroup.password"></risk-password-strength-meter>
                <div *ngIf="registerFormSubmitted && pGroup.password.errors" class="error-container">
                    <p *ngIf="pGroup.password.errors.required">Password is required.</p>
                    <p *ngIf="pGroup.password.errors.minlength">Password must be minimum 8 characters.</p>
                </div>
            </div>
            <div class="form-group">
                <span [ngClass]="{'input': true, 'error': registerFormSubmitted && pGroup.confirmPassword.invalid && pGroup.confirmPassword.errors}">
                    <input type="password" class="input-field" id="confirm_password"
                            formControlName="confirmPassword"
                            placeholder="Confirm Password">
                    <label class="input-label" for="confirm_password">
                        <i class="fas fa-key input-icon password-icon"></i>
                    </label>
                </span>
                <div *ngIf="passwordFormGroup.errors || pGroup.confirmPassword.errors" class="error-container">
                    <p *ngIf="registerFormSubmitted && pGroup.confirmPassword.errors.required">Password confirmation is required.</p>
                    <p *ngIf="passwordFormGroup.errors && pGroup.confirmPassword.dirty && passwordFormGroup.errors.matchpassword">Password confirmation needs to match the password above.</p>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-aqua btn-large submit-button">Register</button>
    </form>
</div>
