<div class="strength-meter" *ngIf="showTooltip">
    <p class="strength-label"><span>Password strength:</span> {{strengthMapping[passwordStrength]}}</p>
    <ul class="strength-bar">
        <li *ngFor="let bColor of barColors" class="bar-score" [style.background-color]="bColor"></li>
    </ul>
    <ul class="password-rules">
        <li *ngIf="passwordTestResults.feedback.warning">{{passwordTestResults.feedback.warning}}.</li>
        <li *ngFor="let suggestion of passwordTestResults.feedback.suggestions">
            {{suggestion}}
        </li>
        <li *ngIf="passwordControl.errors && passwordControl.errors.minlength">Use at least 8 characters.</li>
        <li *ngIf="passwordControl.errors && passwordControl.errors.pattern">Your password must contain at least <b>one uppercase letter</b>, <b>one lowercase letter</b>, <b>one number</b>, and <b>one of the following special characters (!,@,#,$,%,^,&amp;,*)</b></li>
    </ul>
</div>