<div class="strength-meter" *ngIf="password">
    <p class="strength-label"><span>Password strength:</span> {{strengthMapping[passwordStrength]}}</p>
    <ul class="strength-bar">
        <li *ngFor="let bColor of barColors" class="bar-score" [style.background-color]="bColor"></li>
    </ul>
    <ul class="password-rules">
        <li>{{passwordTestResults.feedback.warning}}</li>
        <li>{{passwordTestResults.feedback.suggestions}}</li>
    </ul>
    <p *ngIf="password.errors.minlength">Use at least 8 characters.</p>
</div>