<risk-header></risk-header>
<div class="login-form site-form">
    <div class="form-header">
        <h2>Login</h2>
    </div>
    <form name="login-form" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
        <div class="form-group">
            <span [ngClass]="{'input': true, 'error': loginFormSubmitted && lForm.username.invalid && lForm.username.errors}">
                <input type="text" formControlName="username" class="input-field"
                        id="username"
                        placeholder="Username"
                        required>
				<label class="input-label" for="username">
					<i class="fas fa-user input-icon user-icon"></i>
				</label>
			</span>
            <div *ngIf="loginFormSubmitted && lForm.username.errors" class="error-container">
                <p *ngIf="lForm.username.errors.required">Username is required.</p>
            </div>
        </div>
        <div class="form-group">
            <span [ngClass]="{'input': true, 'error': loginFormSubmitted && lForm.password.invalid && lForm.password.errors}">
                <input type="password" formControlName="password" class="input-field"
                        id="password"
                        placeholder="Password"
                        required>
                <label class="input-label" for="password">
                    <i class="fas fa-key input-icon password-icon"></i>
                </label>
            </span>
            <div *ngIf="loginFormSubmitted && lForm.password.errors" class="error-container">
                <p *ngIf="lForm.password.errors.required">Password is required.</p>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-aqua btn-large submit-button">Login</button>
            <p class="forgot-password">
                <a href="/forgot-password">Forgot Password?</a>
            </p>
        </div>
    </form>
    <div class="register-account">
        <p>Don't have an account? <a href="/register">Create one now.</a></p>
    </div>
</div>
