<risk-header></risk-header>
<div class="login-form site-form">
    <div class="form-header">
        <h2>Login</h2>
    </div>
    <form name="login-form" (ngSubmit)="login()" #loginForm="ngForm" novalidate>
        <div class="form-group">
            <span class="input">
                <input type="text" class="input-field" id="username"
                        required
                        [(ngModel)]="credentials.username" name="username"
                        #username="ngModel" placeholder="Username">
                <label class="input-label" for="username">
                    <i class="fas input-icon user-icon"></i>
                </label>
            </span>
        </div>
        <div class="form-group">
            <span class="input">
                <input type="password" class="input-field" id="password"
                        required
                        [(ngModel)]="credentials.password" name="password"
                        #password="ngModel" placeholder="Password">
                <label class="input-label" for="password">
                    <i class="fas input-icon password-icon"></i>
                </label>
            </span>
        </div>
        <div class="form-group">
            <button [disabled]="!loginForm.form.valid" class="btn btn-green submit-button">Login</button>
        </div>
    </form>
</div>
