<div #alertBox *ngFor="let alert of alerts; let i=index" [style.bottom.px]="getAlertPosition(alertBox, i)" [ngClass]="{ 'rs-alert rs-box rs-bar rs-effect-slidetop': true, 'rs-hide': removingAlert, 'rs-alert-success': alert.type === 0, 'rs-alert-warning': alert.type === 3 }">
    <div class="alert-content" *ngIf="alertContent === 'template'">
        <ng-container *ngTemplateOutlet="alert.message"></ng-container>
    </div>
    <div class="alert-content" *ngIf="alertContent === 'string'" [innerHTML]="alert.message"></div>
    <ng-template #alertContentComponent></ng-template>
    
    <a class="rs-close" (click)="removeAlert(alert, i)"><i class="fas fa-times"></i></a>
</div>