@import '../../../../assets/css/global/variables';
@import '../../../../assets/css/global/mixins';

:host(.horizontal-tabs) {
    .tabs {
        nav {
            ul {
                @include flex-flow(row wrap);
            }
        }
    }
}

:host(.vertical-tabs) {
    .tabs {
        width: 20%;
        margin: 0;
        display: inline-block;

        nav {
            ul {
                @include flex-flow(column wrap);

                .tab {
                    background: $off-white;

                    > a {
                        color: $aqua;
                        border: 2px solid lighten($light-gray, 10%);

                        &:after {
                            height: 0;
                        }
                    }

                    &:not(:last-child) {
                        > a {
                            border-bottom: 0;
                        }
                    }

                    &.active {
                        background: $white;
                        box-shadow: 0px 1px 10px 0 darken($light-gray, 15%);
                        z-index: 5;

                        > a {
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
}
