//---------------------------------
// Button styling
//---------------------------------
.btn {
    cursor: pointer;
    @include border-radius(3px);
    border: none;
    @include transition(0.2s all ease-in);
    color: $white;
    text-transform: uppercase;
    @include raleway-bold();
    letter-spacing: 0.04em;
    outline: 0;

    @include mq("tablet") {
        @include rem(font-size, 16px);
    }

    &:focus, &:active {
        outline: 0;
    }

    &.btn-aqua {
        background: $aqua;

        &:hover {
            background: darken($aqua, 10%);
        }
    }

    &.btn-neutral {
        background: $light-gray;

        &:hover {
            background: darken($light-gray, 10%);
        }
    }

    &.btn-sunshine {
        background: $sunshine;

        &:hover {
            background: darken($sunshine, 10%);
        }
    }

    &.btn-vermillion {
        background: $vermillion;

        &:hover {
            background: darken($vermillion, 10%);
        }
    }

    &[disabled], &:disabled {
        pointer-events: none;
        background: lighten($dark-gray, 20%);
        color: $dark-gray;
    }
}

// Sizes
.btn-small {
    @extend .btn;
    @include rem(padding, 5px 10px);

    @include mq("tablet") {
        @include rem(font-size, 14px);
    }
}
.btn-large {
    @extend .btn;
    @include rem(padding, 10px 20px);
}
