.dashboard {
    @include rem(padding-top, 30px);

    // User Games section styles
    .games-info-list {
        @include rem(margin-top, 20px);

        .games-accordion-list {
            &.user-created-games {
                @include rem(margin-bottom, 40px);
            }

            > h3 {
                @include raleway-bold();
                @include rem(font-size, 18px);
                @include rem(margin-bottom, 5px);
                color: $dark-gray;
            }
            .panel {
                border: 1px solid $dark-gray;

                .panel-heading {
                    @include rem(padding, 10px 45px 10px 10px);
                    background-color: $off-white;

                    .accordion-header {
                        @include flexbox();
                        @include justify-content(flex-start);
                        @include align-items(center);

                        .game-type {
                            color: $powder;
                            @include rem(font-size, 18px);
                            margin-right: 10px;
                        }

                        h3 {
                            color: $dark-gray;
                        }

                        > span {
                            @include rem(margin-left, 20px);
                        }

                        .pending-players {
                            @include opensans-regular-italic();
                            @include rem(font-size, 14px);
                            display: inline-block;
                            vertical-align: top;
                            color: darken($sunshine, 10%);
                        }
                        .start-game {
                            @extend .pending-players;
                            color: $aqua;
                        }
                        .pending-players, .join-game, .start-game {
                            @include flex-grow(1);
                        }
                        .created-date {
                            color: $dark-gray;
                            @include rem(font-size, 12px);
                            @include opensans-regular();
                        }
                    }
                }

                > i {
                    color: $dark-gray;
                }

                .panel-body {
                    background: $off-white;
                    border-top: 1px solid darken($off-white, 20%);

                    .game-players {
                        list-style-type: none;
                        @include rem(padding-left, 0);

                        > li {
                            &:before {
                                content: '\f007';
                                font-family: 'Font Awesome 5 Free';
                                color: $dark-gray;
                                @include rem(margin-right, 5px);
                            }

                            .joined-status {
                                @include raleway-bold();
                                color: $powder;
                            }
                            .pending-status {
                                @include raleway-bold();
                                color: $vermillion;
                            }
                        }
                    }

                    .buttons-container {
                        text-align: right;

                        .btn {
                            @include rem(padding, 8px 10px);
                            @include rem(font-size, 14px);

                            &:first-child {
                                @include rem(margin-right, 15px);
                            }
                        }
                    }
                }
            }
        }
    }
}

// Modals within the dashboard
.delete-game-modal {
    .modal-body {
        p {
            @include rem(font-size, 14px);
        }
    }
}
