.site-form {
    width: 500px;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    background-color: $white;
    box-shadow: 0px 2px 7px $dark-gray;
    border-top: 5px solid $powder;
    @include transform(translateY(-50%));
    @include border-radius(3px);
    @include rem(padding, 30px 0);

    .form-header {
        width: 100%;
        text-align: center;
        @include rem(padding, 0 0 10px);

        h2 {
            color: $dark-gray;
            @include raleway-bold();
            text-transform: uppercase;

            @include mq('tablet') {
                @include rem(font-size, 32px);
            }
        }

        .form-errors {
            color: $vermillion;
            background: $off-white;
            @include rem(font-size, 14px);
            margin-bottom: 0;
            @include rem(margin-top, 10px);
            @include rem(padding, 10px 0);
        }
    }

    form {
        width: 90%;
        margin: 0 auto;
        @include flexbox();
        @include flex-flow(column wrap);
        @include flex-basis(100%);
        @include justify-content(space-between);
        @include align-items(center);
        @include rem(padding, 0 30px);

        .full-width {
            width: 100%;
        }

        .form-group {
            width: 100%;
            position: relative;

            /* Inputs */
            .input {
                position: relative;
                z-index: 1;
                display: inline-block;
                margin: 1em 0;
                width: 100%;
                max-width: 500px;
                vertical-align: top;
                overflow: hidden;
                background: transparent;

                .input-field {
                    position: relative;
                    display: block;
                    @include rem(padding, 20px 20px 20px 50px);
                    width: 100%;
                    @include rem(font-size, 16px);
                    background: transparent;
                    border: none;
                    @include border-radius(0);
                    color: $dark-gray;
                    @include opensans-regular();
                    @include appearance(none);
                    outline: none;

                    @include placeholder($light-gray, 400);

                    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                        background-color: transparent !important;
                        -webkit-box-shadow: inset 0 0 0px 9999px $white;
                        box-shadow: inset 0 0 0px 9999px $white;
                        color: $dark-gray;
                    }

                    &:focus {
                        + .input-label {
                            &:after {
                                @include transform(translate3d(0, 0, 0));
                                border-bottom: 3px solid $powder;
                            }

                            .input-icon {
                                color: $powder;
                            }
                        }
                    }

                    &.ng-valid[required], .ng-valid.required {
                        + .input-label {
                            .input-icon {
                                color: $aqua;
                            }
                        }
                    }

                    &.ng-invalid.ng-touched.ng-dirty {
                        + .input-label {
                            .input-icon {
                                color: $vermillion;
                            }
                        }
                    }
                }

                .input-label {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 0 0 .25em;
                    margin: 0;
                    width: 100%;
                    height: calc(100% - 1em);
                    @include user-select(none);
                    text-align: center;
                    z-index: 2;
                    pointer-events: none;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        width: 100%;
                        height: calc(100% - 10px);
                        border-bottom: 1px solid $light-gray;
                    }

                    &:after {
                        margin-top: 2px;
                        border-bottom: 3px solid $light-gray;
                        @include transform(translate3d(-100%, 0, 0));
                        @include transition(transform 0.3s);
                    }

                    .input-icon {
                        @include fa-icon;
                        @extend .fas;
                        @include transition(all 0.3s);

                        position: absolute;
                        left: 10px;
                        @include rem(font-size, 22px);
                        @include rem(padding-top, 10px);

                        color: $light-gray;
                    }
                }

                &.error {
                    margin-bottom: 0;

                    .input-icon {
                        color: $vermillion;
                    }
                }

                // For password toggling
                .toggle-password {
                    position: absolute;
                    bottom: 18px;
                    right: 10px;
                    cursor: pointer;

                    &.disabled {
                        pointer-events: none;
                    }

                    i {
                        color: $light-gray;
                        @include rem(font-size, 20px);
                        @include transition(color, 0.25s);

                        &:hover {
                            color: $sunshine;
                        }
                    }
                }

                // For displaying the status of email and passwords
                .status-icon {
                    position: absolute;
                    bottom: 20px;
                    right: 10px;
                    pointer-events: none;
                    color: $light-gray;
                    @include rem(font-size, 20px);
                    @include transition(color, 0.25s);

                    &.fa-check {
                        color: $powder;
                    }
                }
            }
        }

        .submit-button {
            width: 100%;
            margin-top: 20px;

            @include mq("tablet") {
                @include rem(font-size, 18px);
            }
        }
    }
}

@include keyframes(border-slide) {
    50% {
		opacity: 0;
        @include transform(translate3d(1em, 0, 0));
	}
	51% {
		opacity: 0;
        @include transform(translate3d(-1em, -40%, 0));
	}
	100% {
		opacity: 1;
        @include transform(translate3d(0, -40%, 0));
	}
}

/** All other game forms **/
.game-form {
    form {
        @include flexbox();
        @include flex-flow(column wrap);
        @include flex-basis(100%);
        @include justify-content(space-between);
        @include align-items(center);

        width: 90%;
        margin: 0 auto;

        .email-address-block {
            width: 100%;
        }
        .form-group {
            width: 100%;

            &:not(:last-child) {
                @include rem(padding-bottom, 15px);
                @include rem(margin-bottom, 15px);
                border-bottom: 1px solid $off-white;
            }

            .input-label {
                width: 100%;
                text-align: left;
                position: relative;

                .input-label-content {
                    width: 100%;
                    display: inline-block;
                    position: relative;
                    color: $aqua;
                    @include rem(font-size, 15px);
                    @include opensans-bold();
                }

                .help-text {
                    @include rem(font-size, 12px);
                    color: $dark-gray;
                }
            }

            .input-field {
                background-color: transparent;
                color: $dark-gray;
                @include opensans-regular();
                @include appearance(none);
                @include rem(padding, 10px 15px);
                @include rem(font-size, 16px);
                position: relative;
                display: block;

                width: 100%;
                border: 2px solid $aqua;
                @include transition(background-color 0.3s, border-color 0.3s);

                &:focus {
                    outline: 0;
                }

                @include placeholder($light-gray, 400);

                &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                    background-color: transparent !important;
                    -webkit-box-shadow: inset 0 0 0px 9999px $white;
                    box-shadow: inset 0 0 0px 9999px $white;
                    color: $dark-gray !important;
                }

                &.error {
                    border: 2px solid $vermillion;
                }
            }

            .usernames-block {
                .input-label {
                    width: auto;

                    .input-label-content {
                        width: auto;
                    }
                }
                button {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    border: none;
                    @include appearance(none);
                    @include border-radius(100%);
                    @include transition(all 0.2s linear);
                    outline: 0;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                    margin-top: -5px;
                    margin-left: 10px;

                    &.add-username {
                        background-color: $sunshine;

                        &:hover {
                            background-color: darken($sunshine, 10%);
                        }
                    }
                    &.remove-username {
                        background-color: $vermillion;

                        &:hover {
                            background-color: darken($vermillion, 10%);
                        }
                    }

                    > i {
                        color: $white;
                        @include rem(font-size, 12px);
                        position: relative;
                        top: 1px;
                    }
                }

                .dynamic-username-container {
                    position: relative;

                    .input-field {
                        display: inline-block;
                        @include rem(padding, 7px 15px);
                        @include rem(margin-bottom, 10px);
                    }

                    .status-icon {
                        position: absolute;
                        right: 10px;
                        @include rem(font-size, 18px);
                        color: $dark-gray;
                        top: 12px;

                        &.fa-check {
                            color: $powder;
                        }
                    }

                    &:not(:nth-child(2)) {
                        .input-field {
                            width: 90%;
                        }

                        .status-icon {
                            right: 50px;
                        }
                    }
                }
            }

            .radio-button-container {
                .button-container {
                    position: relative;
                    display: inline-block;

                    label {
                        display: block;
                        position: relative;
                        @include rem(font-size, 14px);
                        @include rem(padding, 0 15px 0 25px);
                        @include rem(margin, auto);
                        height: auto;
                        z-index: 9;
                        cursor: pointer;
                        @include transition(all 0.25s linear);
                        @include opensans-regular();
                        color: $dark-gray;

                        > i {
                            @include rem(font-size, 18px);
                            @include rem(margin-right, 5px);
                        }

                        > .color-block {
                            width: 20px;
                            height: 10px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }

                    .check {
                        display: block;
                        position: absolute;
                        border: 2px solid $dark-gray;
                        @include border-radius(100%);
                        height: 20px;
                        width: 20px;
                        top: 0;
                        left: 0;
                        z-index: 5;
                        @include transition(border 0.2s linear);

                        &::before {
                            display: none;
                            position: absolute;
                            content: '';
                            @include border-radius(100%);
                            height: 8px;
                            width: 8px;
                            top: 4px;
                            left: 4px;
                            margin: auto;
                            @include transition(background 0.2s linear);
                        }
                    }

                    input[type="radio"]:checked {
                        ~ label {
                            color: $aqua;
                        }
                        ~ .check {
                            border: 2px solid $aqua;

                            &::before {
                                display: block;
                                background: $aqua;
                            }
                        }
                    }

                    &:hover {
                        label {
                            color: darken($powder, 10%);
                        }
                        .check {
                            border: 2px solid $powder;

                            &::before {
                                display: block;
                                background: $powder;
                            }
                        }
                    }

                    // Disabled state
                    &.disabled {
                        pointer-events: none;

                        label {
                            color: $light-gray;
                        }

                        .check {
                            border: 2px solid $light-gray;
                        }

                        .color-block {
                            background-color: $light-gray !important;
                        }
                    }
                }
                input[type="radio"] {
                    position: absolute;
                    visibility: hidden;
                }
            }

            .checkbox-container {
                position: relative;

                .checkbox-label {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: transparent;
                    @include border-radius(0);
                    border: 2px solid $aqua;

                    &:after {
                        content: '';
                        width: 11px;
                        height: 7px;
                        position: absolute;
                        top: 4px;
                        left: 3px;
                        border: 3px solid $aqua;
                        border-top: none;
                        border-right: none;
                        background: transparent;
                        opacity: 0;
                        @include transform(rotate(-45deg));
                    }

                    &:hover:after {
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
                        filter: alpha(opacity=30);
                        opacity: 0.3;
                    }
                }

                input[type="checkbox"] {
                    visibility: hidden;
                    padding: initial;
                    margin: 3px 0.5ex;
                    font-size: initial;

                    &:checked + .checkbox-label:after {
                        opacity: 1;
                    }
                }

                .input-label {
                    width: 80%;
                    @include rem(margin-left, 10px);
                }
            }

            .select-container {
                position: relative;

                .select-box {
                    width: 100%;
                    border: 2px solid $aqua;
                    background: transparent;
                    @include opensans-regular();
                    @include rem(font-size, 16px);
                    @include rem(padding, 10px 15px);
                    color: $dark-gray;
                    @include appearance(none);
                    @include border-radius(0);
                    outline: 0;
                }

                i {
                    position: absolute;
                    right: 15px;
                    bottom: 20px;
                    color: $aqua;
                    @include rem(font-size, 20px);
                }
            }
        }
    }
}

.error-container {
    > p {
        color: $vermillion;
        @include rem(font-size, 14px);
    }
}
