.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1071;
    background: rgba(21, 21, 21, 0.6);
    @include transition(all 0.3s);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1072;
    visibility: hidden;
    @include backface-visibility(hidden);

    overflow-x: hidden;
    overflow-y: auto;
    @include rem(padding-right, 17px); // for the scroll bar


    .modal-dialog {
        @include transform(scale(0.7));
        opacity: 0;
        @include transition(all 0.3s);
        max-width: 500px;
        width: auto;
        position: relative;
        @include rem(margin, 1.75rem auto);

        .modal-content {
            background-color: $off-white;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.2);
            outline: 0;
            position: relative;
            
            .modal-header {
                position: relative;

                h3 {
                    @include raleway-bold();
                    @include rem(font-size, 25px);
                    @include rem(padding, 20px 0);
                    margin: 0;
                    text-align: center;
                    background: $powder;
                    color: $white;
                }

                .btn-close {
                    @include appearance(none);
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    background: transparent;
                    border: 0;
                    outline: 0;
                    cursor: pointer;

                    &:hover {
                        > i {
                            color: $tan;
                        }
                    }

                    > i {
                        color: $white;
                        @include rem(font-size, 25px);
                        @include transition(color, 0.3s);
                    }
                }
            }

            .modal-body {
                @include rem(padding, 30px);
            }
        }
    }
}

.modal-open {
    .modal-backdrop {
        opacity: 1;
        visibility: visible;
    }

    .modal {
        visibility: visible;

        .modal-dialog {
            @include transform(scale(1));
            opacity: 1;
        }
    }
}
